@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

.container {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Looseleaf_Legal_Pad_Background.svg");
    height: 600px;
    padding-top: 70px;
    align-content: center;
    margin: auto;
}

#addNewFriendButton{
    width: 180px;
    align-content: center;
    background-color: orange;
    border-color: orangered;
    color: red;
    margin: auto;
    font-family: 'Mali', cursive;
    display: block;
    margin-top: 15px;
}
  
#addNewFriendButton:hover {
    transform: scale(1.08); 
    background-color: rgb(255, 217, 0);
    font-weight: bold;
}

.card{
    margin: auto;
    width: 50%;
    background-color: rgb(255, 238, 0);
    font-family: 'Mali', cursive;
    color: orangered;
    padding: 10px;
    border-color: red;
}

.name{
    text-align: center;
}