@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');
@-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.15); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.15); }
  }
  @keyframes bounce {
    to { transform: scale(1.15); }
  }
.container {
    
    padding-top: 70px;
    align-content: center;
    margin: 0px;
    height: 1000px;
}

#addNewFriendButton{
    width: 180px;
    align-content: center;
    background-color: rgb(6, 202, 65);
    border-color: orangered;
    color: rgb(77, 74, 74);
    margin: auto;
    font-family: 'Mali', cursive;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
  
#addNewFriendButton:hover {
    transform: scale(1.08); 
    background-color: rgb(0, 255, 42);
    font-weight: bold;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
}

.card{
    margin: auto;
    width: 50%;
    background-color: rgb(255, 238, 0);
    font-family: 'Mali', cursive;
    color: orangered;
    padding: 10px;
    border-color: red;
}

.name{
    text-align: center;
}

#boilerplate{
    font-family: 'Mali', cursive;
    color: orangered;
    font-weight: bold;
}

#noFriends{
    height: 45px;
    width: 800px;
    display: inline-block;
    align-content: center;
    padding-top: 10px;
    background-color: rgb(255, 238, 0);
    font-size: 15px;
    border-radius: 15px;
  }

