@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

#addGiftButtonFC{
    width: 260px;
    align-content: center;
    background-color:rgb(6, 202, 65);
    border-color:orangered;
    color: rgb(117, 4, 4);
    font-family: 'Mali', cursive;
}
  
#addGiftButtonFC:hover {
    transform: scale(1.08); 
    background-color: rgb(187, 255, 0);
    color: black;
    font-weight: bold;
}

#seeAllGiftsButton, #seeGiftsBoughtButton{
    width: 260px;
    align-content: center;
    background-color: orange;
    border-color: orangered;
    color: red;
    font-family: 'Mali', cursive;
    margin-bottom: 0px;
}
  
#seeAllGiftsButton:hover, #seeGiftsBoughtButton:hover {
    transform: scale(1.08); 
    background-color:  yellow;
    font-weight: bold;
    color: black;
}

.submitBtn{
    background-color:orange;
    color: red;
    margin-left: 110px;
}


.submitBtn:hover {
    transform: scale(1.08); 
    background-color:orangered;
    color: rgb(255, 217, 0);
    font-weight: bold;
  
}

.dropdown-menu{
    background-color: rgb(252, 252, 178);
    border-color:orangered;
}

#deleteButton{
    width: 260px;
    font-family: 'Mali', cursive;
    color: orange;
    margin-top: 10px;
}

#deleteButton:hover{
    transform: scale(1.08); 
    background-color:orangered;
    color:black;
    font-weight: bold;
    font-family: 'Mali', cursive;
}