@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

.headings{
    background-color: rgb(243, 194, 103);
    font-size: 15px;
    margin-left: 50px;
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: red;
    border-radius: 15px;
}


.table{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

#returnButton{
    width: 190px;
    align-content: center;
    background-color:rgb(6, 202, 65);
    border-color:orangered;
    color: rgb(117, 4, 4);
    font-family: 'Mali', cursive;
}

#returnButton:hover{
    transform: scale(1.08); 
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}