@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

#navbarSupportedContent{
    background-color: rgb(255, 238, 0);
    font-size: 15px;
    margin: 0px;
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: orangered;
    border-radius: 15px;
}

.nav-link{
    color: orangered;
    width: 70px;
}

.dropdown-menu{
    color:green;
}

#logo{
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: orangered;
    font-size: 25px;
    background-image: url("http://gauthiersgreenpower.ca/gallery_gen/9b34f5a40d15d224783999e4a8665a47_anim.gif");
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#dropdownId{
    background-color: rgb(255, 238, 0);
}
#navbarDropdown:hover {
    transform: scale(1.08); 
    color:red;
}

#login:hover {
    transform: scale(1.08); 
    color:red;
}


.dropdown-item{
    color: orange;
}

.dropdown-item:hover{
    color: orangered;
    background-color: yellow;
    font-weight: bold;
}

#menuButton{
    background-color:yellow;
    width: 80px;
    color: orangered;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    padding-right: 8px;
    margin: 0px;
    font-family: 'Mali', cursive;
    border: 1px;
    border-color: red;
}

#menuButton:hover{
    transform: scale(1.08);
}

#navbarId{
    background-color: rgb(255, 166, 0);
}

#pencil{
    height: 40px;
    width: 40px;
}

#pencil:hover{
    transform: scale(1.08);
}

.nav{
    width: 100%;
}

#navbarId{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
}

#welcome{
    padding-top: 8px;
    width: 600px;
}

#logout:hover{
    transform: scale(1.08); 
    color:red;
}

